:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

[data-theme="light"] {
  /* light theme */
  --background: hsl(0deg 0% 98%);
  --content-background: hsl(0deg 0% 100%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: rgb(236, 235, 240);
  --text-color: hsl(235, 19%, 35%);
}

[data-theme="dark"] {
  /* dark theme */
  --background: hsl(235, 21%, 11%);
  --content-background: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  --text-color: hsl(260, 12%, 95%);
}

.App {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  overflow: auto;
  background-color: var(--background);
  color: var(--text-color);
  /* height: 100vh;
  position: relative; */
}

.header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg-desktop-light.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  z-index: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--content-background);
  height: fit-content;
  color: #fff;
}

.header-content .theme-button {
  background: none;
  border: none;
  cursor: pointer;
}

.todolist,
.header-content {
  width: 100%;
  max-width: 500px;
}

.todolist {
  /* position: absolute;
  top: 30%; */
  z-index: 1;
}

.todolist .todo-form {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--content-background);
  border-radius: 10px;
  margin: 2rem 0 1rem 0;
}

.todolist .todo-form input {
  width: 100%;
  padding: 1rem;
  padding-left: 0;
  border: none;
  background: none;
  color: var(--Dark-Grayish-Blue);
}

.todolist .todo-form input:focus {
  outline: none;
}

.todolist .list {
  background-color: var(--content-background);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.1);
}

.todolist .todos .todo {
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todolist .check-button {
  margin-right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--Dark-Grayish-Blue);
  border-radius: 100%;
  background: none;
}

.todolist .check-button img {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  display: none;
}
.todolist .check-button-completed {
  background: var(--Check-Background);
  border: none;
}

.todolist .check-button-completed img {
  display: block;
}

.todolist .completed {
  text-decoration: line-through;
}

.todolist .todos .todo .delete-button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.todolist .list-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.todolist .list-bottom button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.todolist .list-bottom .items-left {
  font-size: 0.9rem;
  color: var(--Dark-Grayish-Blue);
  font-weight: 600;
}

.todolist button {
  color: var(--Dark-Grayish-Blue);
}

.App .bottom-p {
  margin-top: 2rem;
  color: var(--Dark-Grayish-Blue);
}
